# STAT1005 - Assignment 3

* Name: 
* Student ID:

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 1. Regression

### Load dataset

In [2]:
# dat_dir = './'

github_url = 'https://raw.githubusercontent.com/huangyh09/foundation-data-science/'
dat_dir = github_url + 'main/assignments/'

df_reg = pd.read_csv(dat_dir + "real_estate.csv", index_col=0)

In [3]:
df_reg

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,,,,,,,
1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [4]:
X = df_reg[df_reg.columns[:-1]]
y = df_reg[df_reg.columns[-1]]

### Q1(a): $R^2$ and non-significant features $p>0.05$

In [5]:
import statsmodels.api as sm

### Q1(b): Prediction on training set and Pearson's $R^2$

In [6]:
from scipy import stats
# stats.pearsonr

### Q1(c): cross-validation

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict

### Q1(d): plot observed and predicted y

In [8]:
# sns.regplot

### Q1(e): non-linear transformation

In [9]:
# seaborn.pairplot(df_reg, y_vars="Y house price of unit area")

## 2. Classification

### Load dataset

In [10]:
# dat_dir = './'

github_url = 'https://raw.githubusercontent.com/huangyh09/foundation-data-science/'
dat_dir = github_url + 'main/assignments/'

df_clf = pd.read_csv(dat_dir + "stroke_data.csv", index_col=0)

In [11]:
df_clf

,is_female,age,hypertension,heart_disease,ever_married,Rural_residence,avg_glucose_level,bmi,smoking,stroke
id,,,,,,,,,,
24201,0,33.0,0,0,1,1,93.80,23.9,0,0
70031,1,71.0,1,0,1,1,195.25,33.3,0,0
17013,0,78.0,1,0,0,0,113.01,24.0,0,1
67890,0,77.0,0,1,1,0,102.96,20.9,0,0
38078,1,82.0,1,1,1,0,73.19,33.5,0,0
...,...,...,...,...,...,...,...,...,...,...
20890,1,61.0,0,0,1,1,79.89,24.5,1,0
3553,1,43.0,0,0,1,0,104.55,23.9,1,0
72337,1,55.0,0,0,1,0,231.76,42.9,0,0
66866,1,48.0,0,0,1,0,74.11,20.5,0,1
66530,1,38.0,0,0,1,0,162.30,23.6,0,0

In [12]:
X = df_clf[df_clf.columns[:-1]]
y = df_clf[df_clf.columns[-1]]

### Q2(a): Model fitting and log likelihood

In [13]:
import statsmodels.api as sm

### Q2(b): Remove non-significant features & new log likelihood

### Q2(c): Cross-validation & accuracy

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict

### Q2(d): ROC curve and AUC

In [15]:
from sklearn.metrics import roc_curve, roc_auc_score

### Q2(e): plot ROC curve and set threshold to control FPR

In [16]:
# idx = np.argmin(np.abs(fpr_cv_values - 0.05))